name: Build and deploy Python project to Azure Function App - lab3

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # шлях до проекту
  PYTHON_VERSION: '3.12'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Zip artifact for deployment
        run: zip -r release.zip . -x "venv/*"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact
        run: |
          unzip -o release.zip -d .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

      - name: Deploy to Azure Functions
        uses: Azure/functions-action@v1
        with:
          app-name: 'lab3'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          # Додаємо змінні оточення автоматично
          app-settings-json: |
            {
              "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=lab333;AccountKey=...;EndpointSuffix=core.windows.net",
              "FUNCTIONS_WORKER_RUNTIME": "python",
              "SERVICE_BUS_CONNECTION_STRING": "Endpoint=sb://lab333.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=...",
              "COSMOS_URL": "https://vitalij.documents.azure.com:443/",
              "COSMOS_KEY": "...",
              "COSMOS_DB": "IoTDatabase",
              "COSMOS_CONTAINER": "DeviceData",
              "SENSOR_INTERVALS_MS": "{\"temp\":50,\"hum\":70,\"light\":90}",
              "COSMOS_CONN": "AccountEndpoint=https://vitalij.documents.azure.com:443/;AccountKey=..."
            }
